.cart-list {
    display: flex;
    justify-content: center;
}
.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #242423;
    border: 1px solid #f72585;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .cart-list-wrapper {
        margin: 0 14px;
    }
}