.skin-card {
    font-weight: 600;
    background-color: #242423;
    border: 2px solid #f72585;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem .75rem;
    border-radius: 8px;
    box-shadow:0 8px 20px hsla(0, 0%, 0%, 0.08);
    gap: 1rem;
}
.skin-card-category {
    font-size: 0.75rem;
    color: #f72585;
    border: 2px solid #f72585;
    padding: 2px 8px;
    border-radius: 6px;
}
.skin-card-name {
    font-size: 1.2rem;
}
.skin-card-button {
    display: block;
    background-color: #f72585;
    font-weight: 600;
    padding: 8px 34px;
    border-radius: 4px;
}

