.items-card-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: .5rem 1.5rem;
}
@media screen and (min-width: 640px) {
    .items-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 !important;
    }
}
@media screen and (min-width: 1024px) {
    .items-card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1536px) {
    .items-card-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}